body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "calibri";
  background-image: url(../../Imagenes/logo_lobo.png);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #dddddd;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . .";
  align-items: start;
  justify-items: center;
  text-align: justify;
  font-size: 1.5em;
}

section div:first-child p {
  position: fixed;
  left: 10%;
}

section div:last-child p {
  position: fixed;
  right: 10%;
}

h1 {
  text-align: center;
}

a:hover {
  color: #aed6f1;
}

.logo {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(76deg)
    brightness(45%) contrast(101%) !important;
}

.texto {
  max-width: 800px;
}

h1{
  max-height: 50% !important;
  font-size: 75%;
}
@media (max-width: 1700px) {
  section div:first-child p {
    position: fixed;
    left: 5%;
  }

  section div:last-child p {
    position: fixed;
    right: 5%;
  }
}

@media (max-width: 1200px) {
  section div:first-child p {
    visibility: hidden;
  }

  section div:last-child p {
    visibility: hidden;
  }
}
@media screen and (max-width: 310px) {
    .texto {
        font-size: 14px;
    }
}

@media screen and (max-width: 280px) {
    .texto {
        font-size: 12px;
    }
}

@media screen and (max-width: 250px) {
    .texto {
        font-size: 10px;
    }
}
