body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "calibri";
  background-image: url(../../Imagenes/logo_lobo.png);
  background-size: cover;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . .";
  align-items: left;
  justify-items: center;
  text-align: justify;
  font-size: 1.5em;
}

h1 {
  text-align: center;
}

a:hover {
  color: #aed6f1;
}

.logo {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(76deg)
    brightness(45%) contrast(101%) !important;
}

.texto {
  max-width: 800px;
}
